*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html{
    font-size: 12px;
}
.link{
    color: #000;
    text-decoration: none;
}
.link:hover{
    text-decoration: underline;
    
}
.footer{
    background-color: #3450a6;
    color: #fff;
    padding: 1rem;
    text-align: center;
    font-size: 0.5rem;
}